Package: sem365-config
Version: 0.7.2
Architecture: all
Maintainer: Alexandr Cherkashin <cherkashin@infsys.ru>
Installed-Size: 94
Depends: bash, mosquitto (>= 1.4.7), wb-mqtt-serial, wb-mqtt-confed, wb-rules, wb-homa-gpio, ppp, cron, logrotate, netcat, nginx, zabbix-agent, wb-configs (>= 1.71.1)
Section: config
Priority: extra
Homepage: <https://sem365.ru>
Description: sem365 controller configuration package
